<%- include('layouts/header',{title: "Pet Manager"}) %>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container">
  <a href="/" class="btn btn-secondary my-2">Home</a>
  <table class="table table-striped table-dark">
    <tbody>
      <thead style="text-align: center;">
        <th>ID</th>
        <th>Species</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Email</th>
        <th>Creation Date</th>
        <th>UPDATE PET</th>
        <th>DELETE PET</th>
      </thead>
      <% for (let e of pets){ %>
        <tr style="text-align: center;">
          <td><%= e.id %></td>
          <td><%= e.species %></td>
          <td><%= e.name %></td>
          <td><img src="<%= e.foto %>" alt="pet pic" style="height: 80px"></td>
          <td><%= e.email %></td>
          <td><%= e.created_at.toString().slice(0,15) %></td>
          <td><a href="/update/<%=e.id%>" class="btn btn-outline-warning">UPDATE</i></a></td>
          <td>
            <!-- <a href="/delete/:<%=e.id%>" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a> -->
            <form action="/delete/<%=e.id%>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-outline-danger" onclick="petDelete(event,'<%=e.id%> <%= e.name%>')" ><i class="bi bi-trash3"></i></button>
          </form>
          </td>
          
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script>
  const petDelete = (event, pet) => {
    const confirmation = confirm("Are you sure you want to delete this pet: " + pet);
    if (confirmation) {
      // If the user clicks "OK," submit the form or perform other actions
    } else {
      event.preventDefault();
      // If the user clicks "Cancel," do nothing
    }
  };
</script>
</body>
</html>